@charset "UTF-8";
/* CSS Document */

h1, h2, h3, h4, a { color: #C03; font-family: 'Amaranth', sans-serif;}
h3{
color:#fff;
background:#F03;
padding:10px;	
}
body { 
	color: #555; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background:url(../images/bg.jpg) #000 no-repeat center center fixed; 
	-webkit-background-size: cover;
  background-size: cover;	
}
hr {
	height:1px; 
	background-color:#ddd; 
	border:none;	
}
a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	background:#F93;
	padding:.5rem;
	transition:.3s background;
}
a:hover{
	background:#303;
}

/* STILE VIDEO */

video{
	position:fixed;
	left:0;top:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-100;
	
	visibility: visible;
}

/* STILE LAYOUT DELLA PAGINA */

.contenitore_centro{
	margin: 0 auto;
	width: 95%;
	max-width: 960px;
	line-height: 1.6em;	
	
}

.wrapper{
	background: #fff;
	padding: 40px 0;
	
}


.box{
	float: left;
	width: 30%;
	padding: 0 1.5%;	
}

.clearfix{ clear: both; }

/* STILE MENU' DI NAVIGAZIONE */

nav{
width:100%;
background:#Fff;
margin:0;
	
}
ul#menu{
width:35%;
max-width:1140px;	
margin:0 auto;
}
ul#menu li{
display:inline;
list-style:none;
padding:10px;
border-right:1px solid #336;
text-align:center;
}
ul#menu li a{
background:#fff;
color:#336;
}
ul#menu li a:hover{
background:#fff;
color:#F03;
}

/* STILE LOGO*/

#logo{
	width: 220px; 
	height: 220px;
	margin: 80px auto;
	text-align: center;
	border-radius: 50%;
	background:#fff;
	border:10px solid #336;
	-webkit-box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.2);
	-moz-box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.2);
	box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.2);
	
}
#logo p{
text-align:center;
font-size:3em;
color:#336;
padding:40px;
font-weight:800	
}

/* STILE TAGLINE + BACKGROUND */

.tagline{
	padding: 20px 0;
	color: #fff;	
	font-size: 2.5em;
	font-family: 'Amaranth', sans-serif;
}

.frase{
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;	
	padding-bottom: 10px;
	text-align:center;
}
.backgr_tagline{ background:url(../images/x.png);}

/* STILE SPAZIO TRA I CONTENITORI  */

.spazio { min-height: 240px; }
.scuro_bg { background:rgba(0,0,0,0.5); }
.smll { font-size: 0.8em; 
	color: rgba(255,255,255,0.5);
}
.spazio_piccolo { min-height: 120px; }
.back_piccolo{ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,0.9)), color-stop(80%,rgba(55,55,55,0)),color-stop(100%,rgba(55,55,55,0.3))), url(images/thin_stripe.png);
	border:1px solid;
}

/* GLI ALTRI ELEMENTI DELLA PAGINA  */
.quotation{
	padding: 20px 0;
	color: #fff;	
	font-size: 1.8em;
	font-family: 'Amaranth', sans-serif;
}
.about-img{
	max-width: 360px;
	display: block;
	float: right;
}
.scuro_bg {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(45,45,45,0)), color-stop(100%,rgba(45,45,45,0.8))), url(images/dot.png);;
}
.scuro{
	background:#003;
	padding: 40px 0;
}
.scuro p, .scuro h2{
	color: #999;	
}


@media screen and (min-width: 2000px) {
ul#menu{
width:18%;

}	
}

@media screen and (max-width: 1200px) {
ul#menu{
width:40%;

}	
}
@media screen and (max-width: 1024px) {
ul#menu{
width:45%;

}	
}

@media screen and (max-width: 768px) {
	video{ visibility:hidden;}
	#logo{width: 200px; height: 200px; margin: 30px auto;}
	.tagline{font-size:2em;}
	ul#menu{
	width:60%;	
	}
}
@media screen and (max-width: 480px) {
ul#menu{
width:96%;

}
ul#menu li:first-child{
margin-left:-25px;	
}

ul#menu li:last-child{
border-right:0;	
}
}



